/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

/* ---------- Register ---------- */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-input {
  width: 100%;
  padding: 10px 10px 10px 5px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

.label-control {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 16px;
  color: #999;
  transition: 0.2s ease all;
  pointer-events: none;
}

.form-control-input:focus ~ .label-control,
.form-control-input.filled ~ .label-control {
  top: -4px;
  font-size: 12px;
  color: #333;
}

/* ---------- SIGN IN ---------- */
.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-in__wrapper form {
  width: 24rem;
  max-width: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

.sign-in__wrapper form img {
  width: 4rem;
}

@keyframes showSignInForm {
  0%,
  30% {
    transform: translate(0, -150%);
  }
  70%,
  90% {
    transform: translate(0, 1rem);
  }
  80%,
  100% {
    transform: translate(0, 0);
  }
}

.dashboard {
  /* padding-top: 8rem; */
  /* padding-bottom: 40%; */
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../public/assets/images/header-background.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
}



.carousel-item img {
  height: 200px;
  object-fit: cover;
}
